<footer>
    <br>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
           <p aling="center">
              Todos los derechos reservados
           </p>
       </nav>
            
</footer>