<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap css -->
  <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
  <title>Título de la Página</title>       	
</head>
    <body>
    <header> 
           
  <div class="container">

        <div class="row justify-content-md-left">
            <div class="col col-lg-2">
              <img src="../imagenes/bellasartes.png" width="200%" height="100%" >
            </div>
       </div>
        </div>   
        
  
  

  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">

        <div class="col col-lg-auto">
         <input type="button" class="btn btn-outline-dark" onclick="location.href='/crearCursos'" value="CREAR CURSO">
        </div>

        <div class="col col-lg-auto"> 
           <input type="button" class="btn btn-outline-dark" onclick="location.href='/inscribirEstu'" value="INSCRIBIR ESTUDIANTE">
        </div>
        
         <div class="col col-lg-auto">
           <input type="button" class="btn btn-outline-dark" onclick="location.href='/verCursos'" value="VER CURSO CREADOS"> 
        </div>

        
    </nav>
    <br>

      
    

 
  
  

  
  
 
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
